body {
  background: black;
  color: #00ff88;
  font-family: monospace;
}

.crt {
  text-shadow: 0 0 5px #00ff88;
  animation: flicker 0.1s infinite;
}

#input{
  background-color: black;
}
@keyframes flicker {
  0% { opacity: 0.95; }
  50% { opacity: 1; }
  100% { opacity: 0.9; }
}